// couleur
$primary-color: #fbb730;
$secondary-color: #b4d143;
$grey-color: #e8ddcb;
$blue-color: #00afec;
$text-title: #6e6f6f;
$text-content: #6e6f6f;

//breakpoint
$breakpoint-tablette: 768px;
$breakpoint-desktop: 992px;
$breakpoint-desktopG: 90rem;

// menu
$height-menu: 45px;
$menu-color: #ffffff;
$toggle-color: #b4d143;
$item-menu-color: #b4d143;
$item-menu-text-color: #000000;
