@import "import";



p {
  color: $text-content;
}

a {
  color: $text-title;
}

@for $h from 1 to 6 +1 {
  h#{$h} {
    color: $text-title;
  }
}


.text-center {
  text-align: center;
}

.bg-primary {
  background-color: $primary-color;
}

.bg-secondary {
  background-color: $secondary-color;
}

.text-white {
  color: #ffffff;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.upper {
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

.pointer {
  cursor: pointer;
}

