$paddings: 10, 20, 5;

@mixin padding($param) {
  padding: unquote($param + "px");
}

@each $padding in $paddings {
  .p-#{$padding} {
    @include padding($padding);
  }
}

.p-nav-fixed {
  padding-top: $height-menu;
}
